.k1-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;

	a {
		text-decoration: none;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
		}
	}
}
