@use '../abstracts/mixins' as m;
@use '../components/content-sections/ways-to-give';

.problem {
	.church-icon {
		.a {
			fill: none;
		}

		.c {
			fill: var(--color-primary);
		}

		:where(&#church) {
			--size: 36rem;
			width: var(--size);
			height: var(--size);

			.b {
				clip-path: url(#church-a);
			}
		}

		:where(&#closed) {
			position: absolute;
			transform-origin: center;
			transform: translate(-65%, 23rem);
			z-index: 2;
			--size: 15rem;
			width: var(--size);
			height: var(--size);

			top: 0;
			left: 45%;

			@include m.media-breakpoint-up(md) {
				left: 29%;
			}

			@include m.media-breakpoint-up(lg) {
				left: 44%;
			}

			@include m.media-breakpoint-up(xl) {
				left: 55%;
			}

			@include m.media-breakpoint-up(xxl) {
				left: 50%;
				--size: 20rem;
			}

			.b {
				clip-path: url(#closed-a);
			}
		}

		:is(&#lacking-bullet) {
			--size: 4rem;
			width: var(--size);
			height: var(--size);

			.a {
				fill: var(--color-primary);
			}

			.b {
				fill: none;
				stroke: white;
				stroke-width: 1.2rem;
			}
		}
	}
}

.how-to-help {
	&__background {
		@include m.background-layers($has-overlay: false);
		&--color {
			background-color: var(--color-primary);
		}
		&--lower {
			background-color: var(--color-primary--darkest);
		}
	}
}

.give-butter {
	#leaves-3 {
		--size: 15rem;
		width: var(--size);
		height: var(--size);
		position: absolute;
		stroke: var(--color-primary);
		top: 0;
		@include m.media-breakpoint-up(xxl) {
			left: -5rem;
		}
	}
}
.stephen-video {
	.headline {
		font-size: 4em;
		letter-spacing: 3px;
	}
	iframe {
		aspect-ratio: 16 / 9;
		width: 100%;
		min-height: 40rem;
	}
}
