@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.talent-description {
	#leaves-3 {
		stroke: var(--color-primary);
	}

	li::marker {
		color: var(--color-primary);
		font-size: 1.4em;
	}

	.row:nth-child(2) {
		svg {
			width: 100%;
			object-fit: contain;
			height: 50rem;
		}
	}
}

.services-calculator {
	&__background {
		@include m.background-layers($has-overlay: false);

		&--color {
			background-color: var(--color-grey--light);
		}

		&--lower {
			background-color: var(--color-primary--darkest);
		}
	}

	%content_base {
		position: relative;
		z-index: 2;
	}

	&__content {
		@extend %content_base;

		&--headline-container {
			#leaves-3 {
				display: none;

				@include m.media-breakpoint-up(md) {
					transform: rotate(220deg) scaleX(-1);
					display: block;
					stroke: white;
					width: 10rem;
					position: absolute;
					top: 0;
					left: 60%;
				}

				@include m.media-breakpoint-up(lg) {
					left: 80%;
				}

				@include m.media-breakpoint-up(xl) {
					left: 70%;
				}
			}
		}
	}
	&__calculator {
		@extend %content_base;
	}
}

.our-services {
	#leaves-3 {
		stroke: var(--color-primary);
	}
}
