@use "../../styles/abstracts/mixins" as m;
.hero {
	font-size: 62.5%;
	min-height: unset;
	padding: 65px 0;

	@include m.media-breakpoint-up(lg) {
		min-height: unset;
		padding: 65px 0;
	}

	.top-talent-groups {
		&__grid {
			display: grid;
			gap: 20px;
			grid-template-columns: repeat(auto-fit, max(200px));
			justify-content: space-evenly;
			place-items: center;
			width: 100%;
		}
		&__icon {
			text-align: center;
		}
	}
}
