@use "../../styles/abstracts/mixins" as m;
@use "../../styles/abstracts/clip-path-css-vars";

.hero {
	position: relative;
}

.hero-background {
	@include m.background-layers($opacity: 0.75);

	&--lower {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&.color-right {
		@include m.clip-path("right-bottom");
	}

	&.color-left {
		@include m.clip-path("left-bottom");
	}
}

.hero-content {
	position: relative;
	z-index: 3;
}
