@use './abstracts';
@use './base';
@use '../../abstracts/mixins' as m;

.brands {
	&__background {
		@include m.background-layers;
		&--color {
			background-color: var(--color-primary);
		}
		&--lower {
			background-color: var(--color-primary--dark);
		}
	}
	.swiper-pagination-bullet-active {
		background-color: white;
	}
	#brands-swiper {
		max-height: unset;
		.swiper-wrapper {
			align-items: stretch;
		}

		.swiper-slide {
			border: 1px solid white;

			&__logo {
				max-height: 10rem;
			}
		}
		%swiper_nav {
			color: white;
		}
		.swiper-brands-button-next {
			@extend %swiper_nav;
		}
		.swiper-brands-button-prev {
			@extend %swiper_nav;
		}
	}
}
