@use './abstracts';
@use './base';

.testimonials {
	.swiper-pagination-bullet-active {
		background-color: var(--color-primary);
	}
	:is(#testimonials-swiper) {
		.swiper-slide {
			@extend %slides;
			border: 2px solid black;
		}

		.swiper-button-next,
		.swiper-button-prev {
			color: var(--color-primary);
		}
	}
}
