@use "../../styles/abstracts/mixins" as m;
@use "../../styles/abstracts/variables" as v;

.hero {
	&__content {
		z-index: 4;

		#leaves-3 {
			transform: rotate(150deg);
			stroke: white;
			position: absolute;
			top: -5rem;
			left: -1rem;
			width: 100%;
		}

		&--headline {
			color: white;
			font-family: v.$font-roie;
		}

		&--subheadline {
			font-size: 3rem;
			color: white;
		}

		&--btn {
			display: block;
			align-self: flex-start;
		}
	}
}
