@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
}

:root {
	--font-headings: #{v.$font-roie};
	--font-body: #{v.$font-poppins};

	--color-primary: #{v.$color-primary};
	--color-primary--dark: #{v.$color-primary--dark};
	--color-primary--darkest: #{v.$color-primary--darkest};

	--color-grey: #{v.$color-grey};
	--color-grey--light: #{v.$color-grey--light};
	--color-grey--lightest: #{v.$color-grey--lightest};

	--color-spark-yellow: #{v.$color-spark-yellow};
	--color-ar-purple: #{v.$color-ar-purple};
	--color-ar-orange: #{v.$color-ar-orange};
	--color-ar-yellow: #{v.$color-ar-yellow};

	--transition--standard: #{v.$transition--standard};

	--lift-left-bottom: #{v.$lift-left-bottom};
	--lift-right-bottom: #{v.$lift-right-bottom};

	--drop-left-top: #{v.$drop-left-top};
	--drop-right-top: #{v.$drop-right-top};

	--drop-left: #{v.$drop-left};
	--drop-right: #{v.$drop-right};

	--zig-color-left: #{v.$zig-color-left};
	--zig-color-right: #{v.$zig-color-right};

	--zag-color-left: #{v.$zag-color-left};
	--zag-color-right: #{v.$zag-color-right};
}
