@use "../../styles/abstracts/mixins" as m;

.community {
	margin-top: -6rem;
	padding: 6.5rem 0 0 0;
	background-color: var(--wp--preset--color--academy-green);
	color: white;

	#leaves-4 {
		$size: 15rem;
		width: $size;
		height: $size;
		position: absolute;
		transform: rotate(-60deg);
		stroke: var(--color-primary);
		display: none;

		@include m.media-breakpoint-up(sm) {
			left: 80%;
			display: block;
		}

		@include m.media-breakpoint-only(lg) {
			left: 90%;
		}
	}

	&__grid {
		&--container {
			box-shadow: 0px -10px 8px 1px black;
			background-color: white;
			border-radius: 2rem 2rem 0 0;
			margin-top: 8rem;
			padding-bottom: 4rem;

			.container {
				@include m.displayFlex($main: center);
			}
		}
	}
}
.community-grid {
	margin-top: -5rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, 25rem);
	place-content: center;
	gap: 2rem;
	flex: 1 0 100%;

	@include m.media-breakpoint-up(lg) {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	&__item {
		color: var(--wp--preset--color--grey);

		&--container {
			@include m.displayFlex(column, center, stretch);
			background-color: white;
			border: 2px solid var(--color-grey);
			border-radius: 1rem;
			padding: 2rem 1rem;
		}
	}

	&__list {
		margin: 0;
	}

	&__label {
		font-size: 2.6rem;
	}

	.k1-icon__container {
		margin-bottom: 2rem;
	}
}
